
.logo {
    /*peekaboo */
    height : 30px;
    margin: 10px 10px 10px 10px ;
}
/* head */
.banniere {
    padding:2em 2em 2em 2em;
    /* background-image: url('paysage.jpg'); */
    background-color:  #683636;
    background-attachment: initial;
    background-position: top center;
    text-align: center;
    
}


.title-ban{
    color: bisque;
    font-size: 3em;
}
h1, h2, h3, h4, .title-ban{
    font-family: 'Rancho';
}

h2, h3, h4{
    margin-left: 2em;
}
p{
    color : #362424;
    font-size: 1.2em;
    font-family: 'Rancho';
}


/* Navigation */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #966565;
}

.menuli {
    float: left;
}

.menuli a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Rancho';
}

    /* Change on hover */
.menuli a:hover {
    background-color: #624343;
}


/* body */

body{
    background-color: #6243435d;
}

h2{
    font-size: 3em;
    color :#624343;
}

h3{
    font-size: 1.5em;
    color: #624343;
}

.bloc{
    background-color: #a1757596;
    padding: 1em 1em 1em 1em;
    margin: 2em 2em 2em 2em;
}


.grosbloc{
    display: flex;
    flex-wrap: wrap;
}

.image-pres{
    height: 10em;
    float: left;
    
    padding: 5px 5px 5px 5px;
}

.image-niffleur{
    height: 200px;
    margin: 10px 10px 10px 10px ;
    border-radius: 5%;
    border: 5px;
    border-color: #362424;
    border-style: none solid solid none;
}

/* footer */

footer{
    background-color:  #9b5c5c;
    margin-top: 2em;
    text-align: center;
    font-family: 'Rancho';
}
h4{
    font-size: 1.5em;
    color: bisque;
}